<section class="principal container-box__one">
  <div class="principal__container__button">
    <button class="principal__button">
      <i class="fas fa-trash-alt"></i>
      Reset
    </button>
  </div>
  <section class="card">
    <header class="card__title">
      <div class="card__title__box">
        <h2 class="card__title__first">Nombre apellido</h2>
        <h3 class="card__title__second">Front-end developer</h3>
      </div>
    </header>
    <img class="card__img" src="./assets/images/face-rogelia.jpg" alt="card-image" title="card-image" />
    <nav class="card__menu">
      <ul class="card__menu__links">
        <a class="js-mobile" href="tel:#">
          <li class="card__menu__links__icon "><i class="fas fa-mobile-alt"></i></li
        ></a>
        <li class="card__menu__links__icon"><i class="far fa-envelope"></i></li>
        <li class="card__menu__links__icon"><i class="fab fa-linkedin-in"></i></li>
        <li class="card__menu__links__icon"><i class="fab fa-github-alt"></i></li>
      </ul>
    </nav>
  </section>
</section>
