<partial src="_title-collapse.html" img="./assets/images/keyboard-regular.svg" name="Rellena"></partial>

<form class="complete__form" action="#" method="post">
  <label class="complete__form__label" for="name">Nombre completo</label>
  <input class="complete__form__input" type="text" name="nombre" placeholder="Ej: Doña Rogelia" />
  <label class="complete__form__label" for="puesto">Puesto</label>
  <input class="complete__form__input" type="text" name="puesto" placeholder="Ej: La muñeca que todos quieren" />
  <label class="complete__form__label" for="image">Imagen de perfil</label>
  <div class="complete__form__image-fields">
    <input class="complete__form__image-fields__image-button" type="submit" name="image" value="Añadir imagen" />
    <!-- Falta el cuadradito de la derecha que muestra la imagen en miniatura, por ahora meto un div -->
    <div class="complete__form__image-fields__mini-image"></div>
  </div>
  <label class="complete__form__label" for="email">Email</label>
  <input class="complete__form__input" type="email" name="email" placeholder="Ej: la_rogelia@gmail.com" />
  <label class="complete__form__label" for="telephone">Teléfono</label>
  <input class="complete__form__input" type="tel" name="telephone" placeholder="Ej: 926 61 30 84" />
  <label class="complete__form__label" for="linkedin">Linkedin</label>
  <input class="complete__form__input" type="text" name="linkedin" placeholder="Ej: linkedin.com/in/rogelia-doña" />
  <label class="complete__form__label" for="github">Github</label>
  <input class="complete__form__input" type="text" name="github" placeholder="Ej: @doña-roG" />
</form>
