<section class="complete-section">
  <form class="form" action="#" method="post">
    <label for="name">Nombre completo</label>
    <input type="text" name="nombre" placeholder="Ej: Sally Jill" />
    <label for="puesto">Puesto</label>
    <input type="text" name="puesto" placeholder="Ej: Front-end unicorn" />
    <label for="image">Imagen de perfil</label>
    <div class="image-fields">
      <input type="submit" name="image" value="Añadir imagen" />
      <!-- Falta el cuadradito de la derecha que muestra la imagen en miniatura, por ahora meto un div -->
      <div class="mini-image"></div>
    </div>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Ej: sally.hill@gmail.com" />
    <label for="telephone">Teléfono</label>
    <input type="tel" name="telephone" placeholder="Ej: 555-55-55-55" />
    <label for="linkedin">Linkedin</label>
    <input type="text" name="linkedin" placeholder="Ej: linkedin.com/in/sally-hill" />
    <label for="github">Github</label>
    <input type="text" name="github" placeholder="Ej: @sally-hill" />
  </form>
</section>
