<h2>Diseña</h2>
<div class="design">
  <p class="design__content">Color</p>
  <form action="" class="design__form">
    <div class="design__radio">
      <input type="radio" id="green" name="color" value="green" />
      <label for="green" class="design__form__rectangle">
        <div class="design__form__rectangle__1"></div>
        <div class="design__form__rectangle__2"></div>
        <div class="design__form__rectangle__3"></div>
      </label>
    </div>
      <div class="design__radio">
        <input type="radio" id="red" name="color" value="red" />
        <label for="red" class="design__form__rectangle">
          <div class="design__form__rectangle__4"></div>
          <div class="design__form__rectangle__5"></div>
          <div class="design__form__rectangle__6"></div>
        </label>
      </div>
        <div class="design__radio">
          <input type="radio" id="other" name="color" value="other" />
          <label for="" class="design__form__rectangle">
            <div class="design__form__rectangle__7"></div>
            <div class="design__form__rectangle__8"></div>
            <div class="design__form__rectangle__9"></div>
          </label>
        </div>

  </div>
  </form>
  