<!-- Share section hidden -->
<section class="share share--collapsed">
  <div>
    <i class="fas fa-share-alt"></i>
    <h2 class="share__title">Comparte</h2>
  </div>
  <div>
    <i class="fas fa-chevron-down"></i>
  </div>
</section>
<!-- Share section unhidden -->
<section class="share share--uncollapsed">
  <div>
    <div>
      <i class="fas fa-share-alt"></i>
      <h2 class="share__title">Comparte</h2>
    </div>
    <div>
      <i class="fas fa-chevron-up"></i>
    </div>
  </div>
  <button class="share__btn--enabled">
    <i class="far fa-address-card"></i>
    <h2 class="share__title--white">Crear tarjeta</h2>
  </button>
</section>
<!-- Share section once the card is created-ready to share -->
<section class="share share--created">
  <div>
    <div>
      <i class="fas fa-share-alt"></i>
      <h2 class="share__title">Comparte</h2>
    </div>
    <div>
      <i class="fas fa-chevron-up"></i>
    </div>
  </div>
  <button class="share__btn--enabled">
    <i class="far fa-address-card"></i>
    <h2 class="share__title--white">Crear tarjeta</h2>
  </button>
  <hr />
  <span class="">La tarjeta ha sido creada:</span>
  <a href="#" class="">https://awesome-profile-card.com?id=A456DF0001</a>
</section>

<a href="" target="_blank" class="">
  <i class="fab fa-twitter"></i> Compartir en twitter
</a>
