.main {
  background: linear-gradient(#bfcdd0, #dde9ed);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2.375rem;
  padding-bottom: 2.5rem;

  &__container__button {
    width: 15rem;
    padding-bottom: 1.25rem;
  }

  &__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Open Sans';
    line-height: 1.25rem;
    font-size: 0.75rem;
    color: #54585a;
    width: 4.6875rem;
    height: 1.875rem;
    border-radius: 0.9375rem;
    border: solid 1px #ffffff;
    background-color: #bfcdd0;
  }

  &__icon {
    font-size: 0.75rem;
  }
}

.card {
  height: 20.5625rem;
  width: 15rem;
  background-color: #ffffff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  &__title {
    font-family: 'Montserrat';
    padding: 1.3125rem 0 0.625rem 0;

    &__box {
      border-left: 4px solid #438792;
      padding-left: 1.25rem;
    }

    &__first {
      font-size: 1.125rem;
      line-height: 1.25rem;
      color: #114e4e;
      font-weight: bold;
      padding-bottom: 4px;
      text-transform: capitalize;
    }

    &__second {
      font-size: 1rem;
      line-height: 1.25rem;
      color: #54585a;
    }
  }

  &__menu {
    &__links {
      font-size: 1.125rem;
      color: #114e4e;
      text-align: center;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      margin-left: 0.875rem;
      padding: 0.4375rem 0 0 0;

      &__icon {
        border-radius: 1rem;
        border: solid 2px #a2deaf;
        width: 2rem;
        height: 2rem;
        padding-top: 0.3125rem;
        margin: 0px 0.625rem 0 0;
      }
    }
  }
}
