.complete-section {
  border: rebeccapurple solid 2px;
}
.form {
  display: flex;
  flex-direction: column;
}
.image-fields {
  display: flex;
  flex-direction: row;
}
.mini-image {
  border: pink solid 2px;
}
