.form {
  display: flex;
  flex-direction: column;
  &__rectangle {
    display: flex;
    &__1 {
      width: 30px;
      height: 25px;
      background-color: $color-dark-green;
    }
    &__2 {
      width: 30px;
      height: 25px;
      background-color: $color-blue;
    }
    &__3 {
      width: 30px;
      height: 25px;
      background-color: $color-light-green;
    }
  }
}
