.footer {
  text-align: center;
  margin: 18px 61px 20px 61px;
  .text {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 20px;
    color: #6b6b6b;
  }
  .logo {
    width: 103px;
    height: 40px;
  }
}
