// fonts
$font-main: 'Merriweather';
$font-secondary: 'Open Sans';
$font-card: 'Montserrat';
// colors
$color-white: #ffff;
$color-black: #000000;
$color-dark-green: #114e4e;
$color-light-green: #a2deaf;
$color-blue: #438792;
$color-orange: #e17334;
