@media all and (min-width: 768px) {
  .img-container {
    width: 419px;
    padding-bottom: 31px;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
  }
  .info {
    margin-left: 222px;
    margin-right: 221px;
  }
}
